################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroMap/MicroMap.sln
/MicroMap/obj
/MicroMap/.vs/MicroMap/v16/.suo
